.grid-container{
    display: grid;
    grid-template-columns: repeat(3 1fr);
    gap: 5px;

}

.grid-photo{
    margin-top: 10px;
    margin-left:10px;
}

.grid-photo img{
    margin: 6px;
    margin-top: 40px;
    margin-left:18px;
    border-radius: 5px;
}